body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f3f4f6;
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 230px;
    background: #082444;
    color: #fff;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 12px;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 8px;
}

.sidebar li:hover,
.sidebar li.active {
    background: #0b335f;
}

.main {
    flex: 1;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button {
    background: #082444;
    border: none;
    padding: 8px 16px;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.cards {
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 220px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    font-weight: 600;
    text-align: center;
}

.card span {
    font-size: 24px;
    display: block;
    margin-top: 10px;
}
